In [51]:
import numpy as np
import pandas as pd

In [52]:
df = pd.read_excel('data/samples/sample_data_form_le1.xlsx')

In [53]:
df['year_1'] = df['Tahun Taksiran'].astype(str)[0][0]
df['year_2'] = df['Tahun Taksiran'].astype(str)[0][1]
df['year_3'] = df['Tahun Taksiran'].astype(str)[0][2]
df['year_4'] = df['Tahun Taksiran'].astype(str)[0][3]

In [54]:
# Convert to datetime
df['A7_datetime'] = pd.to_datetime(df['A7 (Commencement Date / Incorporation Date)'], format='mixed')

In [55]:
# Extract day, month, year
df['A7_day'] = df['A7_datetime'].dt.day.apply(lambda x: '  '.join(list(str(x).zfill(2))))
df['A7_month'] = df['A7_datetime'].dt.month.apply(lambda x: '  '.join(list(str(x).zfill(2))))
df['A7_year'] = df['A7_datetime'].dt.year.apply(lambda x: '   '.join(list(str(x).zfill(2))))

In [56]:
def split_string(text, separator=' ', max_len=50) -> list[str]:
        words = text.split(separator)
        parts = []
        current = ""

        for word in words:
            # If adding this word exceeds limit, push current and start new chunk
            if len(current) + len(word) + (1 if current else 0) > max_len:
                parts.append(current)
                current = word
            else:
                current = word if not current else current + " " + word

        # Append last part if non-empty
        if current:
            parts.append(current)

        return parts

In [57]:
df['address_line'] = df['A2'].str.extract(r'^(.*?)(?=\b\d{5}\b)', expand=False).str.strip()
df['address_line_split'] = df['address_line'].apply(lambda x: split_string(x, separator=',', max_len=70))
df['A2_address_1'] = df['address_line_split'].apply(lambda x: x[0].strip().replace('  ', ', '))
df['A2_address_2'] = df['address_line_split'].apply(lambda x: x[1].strip().replace('  ', ', ') if len(x) > 1 else '')

In [58]:
# Split A10 into A10_1 and A10_2
df[['A10_from', 'A10_to']] = df['A10'].str.split(' hingga ', n=1, expand=True)
df[['A11_from', 'A11_to']] = df['A11'].str.split(' hingga ', n=1, expand=True)

In [59]:
# Convert A10_from and A10_to to datetime
df['A10_from_datetime'] = pd.to_datetime(df['A10_from'], format='%d-%m-%Y')
df['A10_to_datetime'] = pd.to_datetime(df['A10_to'], format='%d-%m-%Y')

# Convert A11_from and A11_to to datetime
df['A11_from_datetime'] = pd.to_datetime(df['A11_from'], format='%d-%m-%Y')
df['A11_to_datetime'] = pd.to_datetime(df['A11_to'], format='%d-%m-%Y')

In [60]:
# Extract day, month, year for A10_from
df['A10_from_day'] = df['A10_from_datetime'].dt.day.apply(lambda x: '  '.join(list(str(x).zfill(2))))
df['A10_from_month'] = df['A10_from_datetime'].dt.month.apply(lambda x: '  '.join(list(str(x).zfill(2))))
df['A10_from_year'] = df['A10_from_datetime'].dt.year.apply(lambda x: '   '.join(list(str(x).zfill(4))))

# Extract day, month, year for A10_to
df['A10_to_day'] = df['A10_to_datetime'].dt.day.apply(lambda x: '  '.join(list(str(x).zfill(2))))
df['A10_to_month'] = df['A10_to_datetime'].dt.month.apply(lambda x: '  '.join(list(str(x).zfill(2))))
df['A10_to_year'] = df['A10_to_datetime'].dt.year.apply(lambda x: '   '.join(list(str(x).zfill(4))))

# Extract day, month, year for A11_from
df['A11_from_day'] = df['A11_from_datetime'].dt.day.apply(lambda x: '  '.join(list(str(x).zfill(2))))
df['A11_from_month'] = df['A11_from_datetime'].dt.month.apply(lambda x: '  '.join(list(str(x).zfill(2))))
df['A11_from_year'] = df['A11_from_datetime'].dt.year.apply(lambda x: '   '.join(list(str(x).zfill(4))))

# Extract day, month, year for A11_to
df['A11_to_day'] = df['A11_to_datetime'].dt.day.apply(lambda x: '  '.join(list(str(x).zfill(2))))
df['A11_to_month'] = df['A11_to_datetime'].dt.month.apply(lambda x: '  '.join(list(str(x).zfill(2))))
df['A11_to_year'] = df['A11_to_datetime'].dt.year.apply(lambda x: '   '.join(list(str(x).zfill(4))))

In [61]:
df['A14'] = df['A14'].apply(lambda x: '{:.4f}'.format(x) if pd.notnull(x) else x)

In [62]:
df.head()

,Tahun Taksiran,A1,A2,A3,A4,A5,A6,A7 (Commencement Date / Incorporation Date),A8,A9,...,A10_from_year,A10_to_day,A10_to_month,A10_to_year,A11_from_day,A11_from_month,A11_from_year,A11_to_day,A11_to_month,A11_to_year
0,2025,GAS ASIA TERMINAL (L) PTE. LTD.,"UNIT LEVEL 13(A), MAIN OFFICE TOWER FINANCIAL ...",LE 23924540070,26018898000,LL08180,9171138601,07/04/2011,2,NaN,...,2 0 2 5,3 1,1 2,2 0 2 5,0 1,0 1,2 0 2 5,3 1,1 2,2 0 2 5
1,2025,GUMUSUT-KAKAP SEMI-FLOATING PRODUCTION SYSTEM ...,"UNIT LEVEL 13(A), MAIN OFFICE TOWER FINANCIAL ...",LE 23909057080,26018251060,LL06165,9159287807,2007-10-10 00:00:00,2,NaN,...,2 0 2 5,3 1,1 2,2 0 2 5,0 1,0 1,2 0 2 5,3 1,1 2,2 0 2 5

In [64]:
df.dtypes

Tahun Taksiran     int64
A1                object
A2                object
A3                object
A4                 int64
                   ...
A11_from_month    object
A11_from_year     object
A11_to_day        object
A11_to_month      object
A11_to_year       object
Length: 116, dtype: object